<app-chat-workspace-header>
  <app-subscriber-card
    center
    [subscriber]="chat.userFirst"
  ></app-subscriber-card>
  <!-- <img [src]="(chat.userFirst.avatarUrl)|img" [alt]="chat.userFirst.firstName">
    <span>{{chat.userFirst.firstName}} {{chat.userFirst.lastName}}</span> -->
</app-chat-workspace-header>
<app-chat-wrapper>
  <app-chat-messages>
    @if (messages$|async; as messages) { @for (mes of messages; track mes.id) {
    <p>{{ mes.text }}</p>
    } }
  </app-chat-messages>
  <app-message-input>
    <textarea [formControl]="message"></textarea>
    <button (click)="onSendMessage()">Send</button>
  </app-message-input>
</app-chat-wrapper>
