:host {
  display: grid;
  grid-template-rows: 76px 1fr;
}

app-subscriber-card {
  margin-bottom: 0;
}

app-chat-workspace-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-light);
  align-items: center;
}
