<form class="search-form" [formGroup]="form">
  <label class="form-wrapper-label">
    <span class="label-span">Имя</span>
    <div class="input-wrapper">
      <input
        formControlName="firstName"
        class="form-wrapper-input"
        type="text"
        placeholder="Выберите"
      />
      <button class="svg-btn" (click)="toSearch()">
        <svg appSvgDir="search" viewBox="-2 -2 16 16" width="16" height="16">
          <use></use>
        </svg>
      </button>
    </div>
  </label>
  <label class="form-wrapper-label">
    <span class="label-span">Фамилия</span>
    <div class="input-wrapper">
      <input
        formControlName="lastName"
        class="form-wrapper-input"
        type="text"
        placeholder="Выберите"
      />
      <button class="svg-btn" (click)="toSearch()">
        <svg appSvgDir="search" viewBox="-2 -2 16 16" width="16" height="16">
          <use></use>
        </svg>
      </button>
    </div>
  </label>
  <label class="form-wrapper-label">
    <span class="label-span">City</span>
    <div class="input-wrapper">
      <input
        formControlName="city"
        class="form-wrapper-input"
        type="text"
        placeholder="Выберите"
      />
      <button class="svg-btn" (click)="toSearch()">
        <svg appSvgDir="search" viewBox="-2 -2 16 16" width="16" height="16">
          <use></use>
        </svg>
      </button>
    </div>
  </label>
  <label class="form-wrapper-label">
    <span class="label-span">Stack</span>
    <div class="input-wrapper">
      <input
        formControlName="stack"
        class="form-wrapper-input"
        type="text"
        placeholder="Выберите"
      />
      <button class="svg-btn" (click)="toSearch()">
        <svg appSvgDir="search" viewBox="-2 -2 16 16" width="16" height="16">
          <use></use>
        </svg>
      </button>
    </div>
  </label>
  <button class="btn-primary to-center">
    <img src="./../../../../assets/svg/voronca.svg" width="16" height="16" />
  </button>
</form>
