<app-profile-filter #appProfileFilter class="mb20"></app-profile-filter>

@if(!(isAccLoaded$|async)){
<p>...loading</p>
} @if ((appProfileFilter.accounts$|async); as profiles) { @for (profile of
profiles; track profile) {

<app-profile-card
  (toSubscribe)="onSubscribe(profile)"
  (toSendMessage)="onSendMessage(profile)"
  (toUnsubscribe)="onUnsubscribe(profile)"
  [profile]="profile"
></app-profile-card>

} } @else { @for (profile of acc$|async; track profile) {

<app-profile-card
  (toSubscribe)="onSubscribe(profile)"
  (toSendMessage)="onSendMessage(profile)"
  (toUnsubscribe)="onUnsubscribe(profile)"
  [profile]="profile"
></app-profile-card>
} }
